.hidden {
    display: none;
}

.displayed {
    display: inline-block;
}

.result_display {
    padding: 1rem;
    background: rgb(71, 135, 255);
    border-radius: 5px;
    color: white;
}

.result_container {
    text-align: center;
    width: 100%;
    height: auto;   
}